
{% include 'header.twig' %}
<!-- Variáveis Principais *conteúdo* -->
<div class="signup-screen">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <span class="page-title">faq</span>
      </div> </div>

 {% include 'footer.twig' %}