{{ footerCode }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.all.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<script> 
function _0x5037(_0x51155c,_0x3bfc53){var _0x1c98de=_0x1c98();return _0x5037=function(_0x503724,_0xfa4af8){_0x503724=_0x503724-0x1c4;var _0x362e63=_0x1c98de[_0x503724];return _0x362e63;},_0x5037(_0x51155c,_0x3bfc53);}var _0x181f3b=_0x5037;function _0x1c98(){var _0x365d3a=['ajax','Failed\x20to\x20retrieve\x20broadcast\x20notification','/broadcast','setTime','15IKatzH','509406PRekEz','toUTCString','BROADCAST_DESCRIPTION','8kCCmCM','BROADCAST_TITLE','length','trim','BROADCAST_URL','4152055QiVAJz','log','14615415OjjMti','getTime','ready','location','href','BROADCAST_ACTION','split','isConfirmed','BROADCAST_ICON','3733212cpeUft','substring','replace','513572JSLqjU','fire','406933RgKPuP','5788272LIMloI','hidden','pathname','shift'];_0x1c98=function(){return _0x365d3a;};return _0x1c98();}(function(_0x59a6a6,_0x5dd33a){var _0x1e93a1=_0x5037,_0x305d7b=_0x59a6a6();while(!![]){try{var _0x2fea71=-parseInt(_0x1e93a1(0x1d6))/0x1+-parseInt(_0x1e93a1(0x1e0))/0x2+parseInt(_0x1e93a1(0x1df))/0x3*(parseInt(_0x1e93a1(0x1d4))/0x4)+-parseInt(_0x1e93a1(0x1c6))/0x5+parseInt(_0x1e93a1(0x1d1))/0x6+-parseInt(_0x1e93a1(0x1d7))/0x7+-parseInt(_0x1e93a1(0x1e3))/0x8*(-parseInt(_0x1e93a1(0x1c8))/0x9);if(_0x2fea71===_0x5dd33a)break;else _0x305d7b['push'](_0x305d7b['shift']());}catch(_0x36d20d){_0x305d7b['push'](_0x305d7b['shift']());}}}(_0x1c98,0x8af47),$(document)[_0x181f3b(0x1ca)](function(){var _0x3a379a=_0x181f3b,_0x274ced=window[_0x3a379a(0x1cb)][_0x3a379a(0x1d9)][_0x3a379a(0x1d3)]('/',''),_0x42949f=[];$[_0x3a379a(0x1db)]({'url':_0x3a379a(0x1dd),'dataType':'json','data':{'page':_0x274ced},'success':function(_0x1a9cde){_0x42949f=_0x1a9cde,_0x2f6e30();},'error':function(_0x3c531f,_0x45b223,_0x23b614){var _0x12c7f3=_0x3a379a;console[_0x12c7f3(0x1c7)](_0x12c7f3(0x1dc));}});function _0x2f6e30(){var _0x5f3654=_0x3a379a;if(_0x42949f['length']>0x0){var _0x3b21d2=_0x42949f[_0x5f3654(0x1da)](),_0x3148b7='notification-'+_0x3b21d2['id'];_0x5eaf8d(_0x3148b7)===null?Swal[_0x5f3654(0x1d5)]({'icon':_0x3b21d2[_0x5f3654(0x1d0)],'title':_0x3b21d2[_0x5f3654(0x1e4)],'html':_0x3b21d2[_0x5f3654(0x1e2)],'confirmButtonText':_0x3b21d2[_0x5f3654(0x1cd)],'showCloseButton':!![]})['then'](_0x164c4b=>{var _0x184a63=_0x5f3654;_0x164c4b[_0x184a63(0x1cf)]&&(_0x570d09(_0x3148b7,_0x184a63(0x1d8),0x1e),_0x2f6e30(),_0x3b21d2[_0x184a63(0x1c5)]&&(window[_0x184a63(0x1cb)][_0x184a63(0x1cc)]=_0x3b21d2[_0x184a63(0x1c5)]));}):_0x2f6e30();}}function _0x5eaf8d(_0x198c64){var _0x5219f2=_0x3a379a,_0x458d3d=_0x198c64+'=',_0x181182=document['cookie'][_0x5219f2(0x1ce)](';');for(var _0x9438ea=0x0;_0x9438ea<_0x181182[_0x5219f2(0x1e5)];_0x9438ea++){var _0x1cff2e=_0x181182[_0x9438ea][_0x5219f2(0x1c4)]();if(_0x1cff2e['indexOf'](_0x458d3d)===0x0)return _0x1cff2e[_0x5219f2(0x1d2)](_0x458d3d[_0x5219f2(0x1e5)],_0x1cff2e['length']);}return null;}function _0x570d09(_0x5cf4ab,_0x41fb9f,_0x4217a4){var _0x5c04f6=_0x3a379a,_0x44df83=new Date();_0x44df83[_0x5c04f6(0x1de)](_0x44df83[_0x5c04f6(0x1c9)]()+_0x4217a4*0x18*0x3c*0x3c*0x3e8);var _0x5bda24=';\x20expires='+_0x44df83[_0x5c04f6(0x1e1)]();document['cookie']=_0x5cf4ab+'='+_0x41fb9f+_0x5bda24+';\x20path=/';}}));
</script>



{% if user['auth'] %}

    <script src="../assets/css/smm/jquery.js"></script>
<script src="../assets/css/smm/gtrans.js"></script>
  
    <script src="../assets/css/smm/trans.js"></script>
     
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
   <script type="text/javascript" src="https://cdn.fsksoft.com/lottie-player.js"></script>
                     <script type="text/javascript" src="https://cdn.mypanel.link/global/y36ux7zr5qki5pqw.js"></script>
                     <script type="text/javascript" src="https://cdn.mypanel.link/global/sa2eqd3a988sw7ft.js"></script>
                     <script type="text/javascript" src="https://cdn.mypanel.link/global/nxhbpu9ke4jtyxwl.js"></script>
                     
                    <!-- <script type="text/javascript" src="https://cdn.mypanel.link/global/tq6tyf6s2kgijr9z.js"></script> -->
                     
                     
                     <script type="text/javascript" src="https://cdn.mypanel.link/gnbaxm/lq0moskwr9jlpfo7.js"></script>
                     <script type="text/javascript" src="https://cdn.mypanel.link/global/0w2hljawkmhq5aq0.js"></script>
                     <script type="text/javascript">
      window.modules.layouts = {"theme_id":2,"auth":1,"live":true,"csrftoken":"NAbxi-GIgkU7tFTkyq86m_e_9o5ew37IOphp0Xv9kJpWZ4nCoO67N3fjZJL5-Q3rpsvGwhyrMpJT_CWyMoTCrw=="};
   </script>
   
   
     <script type="text/javascript">
      window.modules.select = [];
   </script>
                        <script>
         $(document).ready(function () {
            const e = new URLSearchParams(window.location.search);
            if (null !== e.get("searchservice")) {
               const t = e.get("searchservice");
               document.getElementById("search-service"), $(".select-service").filter(function () {
                  $(this).toggle($(this).text().toLowerCase().indexOf(t.toLowerCase()) > -1)
               })
            }
         });
         var api = "sa"
    
         }), $(document).ready(function () {
            $.ajax({
               type: "POST",
               url: "?",
               dataType: "json",
               data: {
                  apikey: +api
               },
               success: function (e) {
                  for (var t in e) {
                     var o = e[t],
                        a = o.popup_durum,
                        p = o.popup_baslik,
                        i = o.popup_aciklama,
                        s = o.popup_view,
                        u = o.popup_resim,
                        r = o.button_durum,
                        n = o.button_yazi,
                        l = o.button_link,
                        z = o.site_error;
                     viewtime = Number(+s), popupview = !1;
                     var c = o.popup_closetime;
                     if (c /= 1e3, c += 2.3, popupctime = o.popup_closetime, "aktif" == a && (localStorage.getItem("popupacilis") ? Number(localStorage.getItem("popupacilis")) + viewtime < Math.floor(Date.now() / 1e3) && (popupview = !0, localStorage.setItem("popupacilis", Math.floor(Date.now() / 1e3))) : (localStorage.setItem("popupacilis", Math.floor(Date.now() / 1e3)), popupview = !0), popupview && setTimeout(function () {
                           document.getElementById("modal-containerPopup").classList.add("show-modal"), setTimeout(function () {
                              document.getElementById("modal-containerPopup").classList.remove("show-modal")
                           }, popupctime)
                        }, 2e3)), setTimeout(() => {
                           document.querySelector(".progress-modal").style.animation = "loader " + c + "s 2"
                        }, 500), "aktif" == r) var d = `<div class="modal-bottom-btn" id="popupbutton"><a href="${l}" class="btn btn-blue">${n}</a></div>`;
                     else d = "";
                     
                     if (u.length == 0) {
                        var pimage = ''
                     } else {
                        var pimage = `<img class="popupimg" src="${u}">`
                     }
                     document.head.appendChild(document.createElement("style")).innerHTML = ".loader_element:before {animation: getWidth " + c + "s ease-in;}", popupbaslik, $("#popupbaslik").html(p), $("#popupbutton").html(d), $("#popupsistemi").append(`<div class='popupaciklama'>${i}</div>${pimage}`);$("body").append(z);
                  }
               }
            })
         });
         function closePopup(){
            var closepopup = document.getElementById('modal-containerPopup');
            closepopup.classList.remove("show-modal");
         }
   </script>
   
   
   
   
   

</script><script type="text/javascript" src="{{ site["url"] }}/css/public/modern/js/ajax.js">




 {% include 'decoration.twig' %}
 
   
   
   </html>
   



{% else %}

    <script src="../assets/css/smm/jquery.js"></script>
<script src="../assets/css/smm/gtrans.js"></script>
  
    <script src="../assets/css/smm/trans.js"></script>


  <script async src="https://www.google.com/recaptcha/api.js?hl=en">  
</script>
    <script>
    const items = document.querySelectorAll(".accordion button");
  
    function toggleAccordion() {
      const itemToggle = this.getAttribute('aria-expanded');
  
      for (i = 0; i < items.length; i++) {
        items[i].setAttribute('aria-expanded', 'false');
      }
  
      if (itemToggle == 'false') {
        this.setAttribute('aria-expanded', 'true');
      }
    }
  
    items.forEach(item => item.addEventListener('click', toggleAccordion));
  </script>
                        


            <div id="lnc"></div>
                           <script>
      var darkbtn = document.querySelector(".dark-btn");
      var lightbtn = document.querySelector(".light-btn");
      var lightdarkbtn = document.querySelector(".auto-btn");
      var dizin = window.location.pathname;
   
      function change_light() {
         var app = document.getElementsByTagName("HTML")[0];
         localStorage.lightMode = "light";
         app.setAttribute("class", "light");
         darkbtn.classList.remove("active");
         lightbtn.classList.add("active");
         lightdarkbtn.classList.remove("active");
      }
   
      function change_dark() {
         var app = document.getElementsByTagName("HTML")[0];
         localStorage.lightMode = "dark";
         app.setAttribute("class", "dark");
         darkbtn.classList.add("active");
         lightbtn.classList.remove("active");
         lightdarkbtn.classList.remove("active");
      }
   
      function change_auto() {
         let systemdark = window.matchMedia("(prefers-color-scheme: dark)").matches;
         var app = document.getElementsByTagName("HTML")[0];
         localStorage.lightMode = "auto";
         if (systemdark == true) {
         app.setAttribute("class", "dark");
         } else {
         app.setAttribute("class", "light");
         }
         darkbtn.classList.remove("active");
         lightbtn.classList.remove("active");
         lightdarkbtn.classList.add("active");
      }
   
      function selectColor() {
         let mode = localStorage.getItem('lightMode');
         if (mode == "dark") {
         darkbtn.classList.add("active");
         } else if (mode == "light") {
         lightbtn.classList.add("active");
         } else if (mode == "auto") {
         lightdarkbtn.classList.add("active");
         }
      }
      selectColor()
   
   </script>
   <footer>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="footer-list">
                  <a href="/">
                     <div class="footer-logo" onclick="javascript:location.href='/'">
                                            {{ site["site_name"]  }}
                                             </div>
                  </a>
                  <div class="footer-link">
                                          <div class="footer-link-item"><a href="/services" >Serviços</a></div>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <div class="footer-link-item"><a href="/api" >API</a></div>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <div class="footer-link-item"><a href="/signup" >Inscrever-se</a></div>
                                       </div>
                                       <br>
                                       
                  <div class="footer-btn">
                     <a class="btn btn-blue" href="signup">Inscrever-se</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   </html>



{% endif %}











